@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase|Source+Code+Pro');


.signup_getStarted, .login_start {
  background: transparent;
  border: none
}

.title {
  display: grid;
  justify-items: center;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 25px;
  grid-column-start: 2
}

.title_font {
  font-family: 'Source Code Pro';
  color: white;
  -webkit-text-stroke: 2px black;
}

.deleteButton {
  width: 15px;
  height: 15px;
}

.likesButton {
  width: 35px;
  height: 25px;
}

.empty_div {
  grid-row: 4/4

}

.likeButtonButton, .deleteButtonButton {
  background-color: transparent;
  border: none
}

.likes_button {
  grid-column: 4;
  grid-row: 3;
  grid-row: span -3;
}

.delete_button {
  grid-column: 4;
  margin-left: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  margin-top: 250px;
}

.footer_links {
  color: white;
  font-weight: bold;
}

.profile_username {
  color: white;
  -webkit-text-stroke: 2px black;
  font-size: 70px;
}

.post_container {
  display: grid;
  grid-template-columns: 10% 70% 10%;
  grid-template-rows: 15% 40% 80%;
  height: 400px;
  width: 600px;
  justify-content: center;
  justify-items: center;
  border: 1px solid black;
  background-color: white;
  margin-bottom: 35px;
  padding-bottom: 150px;
}

.main_render_div {
  display: grid;
  justify-content: center;
}

.images_rendering {
  width: 300px;
  height: 300px;
  justify-content: center;
}
.username {
  grid-column: 2;
  grid-row: 1/3;
  /* background-color: white; */
}

.content {
  display: flex;
  grid-column: 2;
  grid-row: 2/3;
  padding-bottom: 10px;
  width: auto;
  height: auto;
  word-wrap: break-word;
  white-space: pre-line;
  /* padding-right: 10px; */
  /* background-color: white; */
}

.display {
  grid-column: 2;
  grid-row: 3/3;
  align-items: center;
  width: auto;
  height: auto;
  /* background-color: white; */
}

.posts_box_outline {
  grid-column-start: 2;
  margin-top: 15px;
}

.username_input, .password_input, .email_input, .signup_searchbar, .search_input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* position: relative; */
  left: 100px;
  padding: 6px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(247,230,238,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1)
}

.logout_button {
  -moz-box-shadow: 0px 0px 0px 2px #d1d1d1;
	-webkit-box-shadow: 0px 0px 0px 2px #d1d1d1;
	box-shadow: 0px 0px 0px 2px #d1d1d1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #e3d3e3));
	background:-moz-linear-gradient(top, #fafafa 5%, #e3d3e3 100%);
	background:-webkit-linear-gradient(top, #fafafa 5%, #e3d3e3 100%);
	background:-o-linear-gradient(top, #fafafa 5%, #e3d3e3 100%);
	background:-ms-linear-gradient(top, #fafafa 5%, #e3d3e3 100%);
	background:linear-gradient(to bottom, #fafafa 5%, #e3d3e3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#e3d3e3',GradientType=0);
	background-color:#fafafa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #c2bec2;
	/* display:inline-block; */
	cursor:pointer;
	color:#292529;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
}

.loginPage_button, .login_signup_button, .signupPage_button  {
  -moz-box-shadow: 0px 0px 0px 2px #d1d1d1;
	-webkit-box-shadow: 0px 0px 0px 2px #d1d1d1;
	box-shadow: 0px 0px 0px 2px #d1d1d1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #e3d3e3));
	background:-moz-linear-gradient(top, #fafafa 5%, #e3d3e3 100%);
	background:-webkit-linear-gradient(top, #fafafa 5%, #e3d3e3 100%);
	background:-o-linear-gradient(top, #fafafa 5%, #e3d3e3 100%);
	background:-ms-linear-gradient(top, #fafafa 5%, #e3d3e3 100%);
	background:linear-gradient(to bottom, #fafafa 5%, #e3d3e3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#e3d3e3',GradientType=0);
	background-color:#fafafa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #c2bec2;
	/* display:inline-block; */
	cursor:pointer;
	color:#292529;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
  display: flex;
  justify-content: center;
}


.signup_button, .login_button {
	-moz-box-shadow: 0px 0px 0px 2px #d1d1d1;
	-webkit-box-shadow: 0px 0px 0px 2px #d1d1d1;
	box-shadow: 0px 0px 0px 2px #d1d1d1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #e3d3e3));
	background:-moz-linear-gradient(top, #fafafa 5%, #e3d3e3 100%);
	background:-webkit-linear-gradient(top, #fafafa 5%, #e3d3e3 100%);
	background:-o-linear-gradient(top, #fafafa 5%, #e3d3e3 100%);
	background:-ms-linear-gradient(top, #fafafa 5%, #e3d3e3 100%);
	background:linear-gradient(to bottom, #fafafa 5%, #e3d3e3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#e3d3e3',GradientType=0);
	background-color:#fafafa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #c2bec2;
	/* display:inline-block; */
	cursor:pointer;
	color:#292529;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
  display: flex;
  justify-content: center;
  width: 100px;
}
.signup_button:hover, .login_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e3d3e3), color-stop(1, #fafafa));
	background:-moz-linear-gradient(top, #e3d3e3 5%, #fafafa 100%);
	background:-webkit-linear-gradient(top, #e3d3e3 5%, #fafafa 100%);
	background:-o-linear-gradient(top, #e3d3e3 5%, #fafafa 100%);
	background:-ms-linear-gradient(top, #e3d3e3 5%, #fafafa 100%);
	background:linear-gradient(to bottom, #e3d3e3 5%, #fafafa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3d3e3', endColorstr='#fafafa',GradientType=0);
	background-color:#e3d3e3;
}
.signup_button:active, .login_button:active {
	position:relative;
	top:1px;
}

.mainpage_buttons {
  display: grid;
  padding: 20px;
  justify-items: center;
  grid-column-start: 2
}

.signup_link, .login_link {
  text-decoration: none;
  font-size: 16px;

}

.signup_form, .login_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: auto;
  border-radius: 20%;
  margin-top: 15%;
}

.homepage_pic {
  width: 40px;
  height: 40px;
}

.login_signup_button {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex: auto;
}

.login_searchbar, .signup_searchbar {
  width: 540px;
  border-radius: 5px;
  margin-left: 10px;
}

.login_navbar {
  flex-direction: row;
}

/* .magnifying_glass {
  width: 40px;
  height: 40px;
} */

.search_input {
  width: 540px;
  border-radius: 5px;
}

.input_boxes {
  width: 700px;
  height: 50px;
  border-radius: 20px;
}

.forms {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-items: center;
  margin-top: 300px;
  margin-left: 450px;
}

.back_button {
  display: flex;
  justify-content: flex-start;
}


.homepage_midsection {
  display: grid;
  justify-items: center;
  padding-top: 200px;
  grid-template-columns: repeat(3, 33%);
}
