.text_icon, .photo_icon, .quote_icon, .link_icon {
  width: 60px;
  height: 60px;
}

.text_button, .photo_button, .quote_button, .link_button {
  background-color: transparent;
  border: none
}

.quote_button {
  background-color: transparent;
}

.text_icon {
  display: flex;
  justify-content: space-around;
}

.posting_navbar{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 4px;
  width: 350px;
  height: 80px;
  justify-content: space-around;
  background-image: url('https://pbs.twimg.com/profile_images/976648863099641858/pNOSI0wz_400x400.jpg');
}

.posting_div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
